@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;600;700&family=Poppins:wght@100;300;400;500;700&family=Rajdhani:wght@400;500&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font: 'Poppins', sans-serif;
  --font-text: 'Rajdhani', sans-serif;
  --clr-gold: 203, 164, 111;
  --clr-pink: 231, 156, 183;
  --clr-gray: 58, 83, 109;
  --clr-subtle-gray: 240, 240, 240;
  --clr-white: 255, 255, 255;
  --clr-torquoise: 64, 224, 208;

  --bgr-gradient: linear-gradient(to bottom right, rgb(44, 62, 80), rgb(248, 187, 208));
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {

  /*
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, rgb(189, 195, 199), rgb(236, 174, 174));
*/



  color: rgb(255, 255, 255);
  font-size: 1.25rem;

  /* background: linear-gradient(to bottom, rgb(44, 62, 80), rgb(248, 187, 208)); */
  background: var(--bgr-gradient);







  /*
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, rgb(108, 122, 137), rgb(215, 189, 186));
  */

  /*
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, rgb(44, 62, 80), rgb(150, 123, 162), rgb(248, 187, 208));
*/





}

h1,
h2,
h3 {
  font-family: var(--font);
  text-transform: uppercase;
}



a {
  color: inherit;
  text-decoration: none;
}

.grecaptcha-badge {
  visibility: hidden;
}